/* Styles pour le mode sombre */
body.dark-mode .my-element {
  background-color: #333333;
  color: #ffffff;
}
.navbar {
  min-height: 50px; /* Ajustez la valeur en pixels selon vos besoins */
  z-index: 100;
  background-color: #dddbdc; /* Couleur de fond de la barre de navigation */
}
