<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand">ENT</a>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/dashbord"
          (click)="redirectToDashbord()"
          >Planning du jour</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="!user" routerLink="/login" class="nav-link">Connexion</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          data-bs-toggle="dropdown"
        >
          <!-- Affiche "Menu" si l'utilisateur n'est pas connecté, sinon affiche le nom de l'utilisateur -->
          {{ user ? user.nom : "Menu" }}
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdown"
        >
          <div class="ent-navbar__login__dropdown-menu__item">
            <input type="checkbox" (change)="toggleDarkMode($event)" />
            <label for="switchSombre">Mode sombre</label>
          </div>
          <a href="#" *ngIf="user" (click)="logout()">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
