<mat-toolbar color="primary">
    <div>
        Bienvenue
    </div>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>
        <mat-icon>warning</mat-icon>
        <span>Se déconnecter</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Paramètre</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  
  
  
  
  
  
  