<img src="assets/about.jpg" alt="Background" class="background-image" />
<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Connectez-vous à votre compte</p>
    </div>
    <form name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
            [value]="loginForm.get('email')?.value"
          />

          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Votre e-mail est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <span>
          <a class="text-link" class="aLink" routerLink="/forgot-password"
            >Mot de passe oublié?</a
          >
        </span>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
            [value]="loginForm.get('password')?.value"
          />

          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>
              {{ hide ? "visibility_off" : "visibility" }}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Votre mot de passe est requis
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="onLogin()">Login</button>
    </form>

    <div class="account-register">
      <a class="text-link" class="aLink" routerLink="/register"
        >Créer un compte</a
      >
    </div>
  </mat-card-content>
</mat-card>
