form {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container mat-form-field {
  margin-right: 10px;
  width: 250px;
}

mat-card {
  max-width: 600px;
  margin: 12em auto;
  text-align: center;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7ddd1ac;
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-row {
  margin-top: 15px;
  text-align: center;
}
